.hero {
    padding: 10rem 3rem 5rem;
    margin: 0 auto;
  }

  .hero-name {
    font-family: var(--font-display);
    font-size: clamp(3rem, 7vw, 5.5rem);
    font-weight: 300;
    line-height: 1.05;
    color: var(--text);
    margin-bottom: 1.8rem;
  }

  .hero-name em {
    font-style: normal;
    color: var(--gold);
  }

  .hero-tags {
    display: flex; flex-wrap: wrap; gap: 0.6rem;
  }

  .tag {
    display: flex;
    align-items: center;
    padding:3px;
    width: fit-content;
    height: 30px;
    background-color:var(--surface);
    border-radius:5px;
    font-size: 16px;
    font-weight: 700;
    color: var(--text);
  }
